@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
    background-color: #e2e2e2;
    min-height: 100%;
}

h1{
    padding-top: 10vh;
    text-align: center;
    color: #000;
}
.container{
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 5vw;
    width: 30vw;
    height: 20vh;
    background-color: #2754bd;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    font-size: 20px;
}
.content>p{
    text-align: center;
    align-items: center;
}
.navbar{
    margin-top: 7vh;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
}

.navbar>a{
    width: 25vw;
    height: 10vh;
    font-size: 2em;
    text-align: center;
}
.navbar>a>img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);
}

video{
    width: 90vw;
    margin-left:5vw;
    margin-top: 5vh;
    border-radius: 20px;
    display: none;
}