@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
    height: 740px;
}

h1{
    width: 70%;
    padding-top: 15vh;
    padding-left: 12.5vw;
}

main{
  position: relative;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.container{
    margin-left:auto;
    margin-right: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
}
.content{
    width: 75vw;
    height: 10vh;
    margin-left:auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 25px;
}



.content-audio {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-top: 5vh;
    margin-bottom: 3vh;
    height: 40vh;
    width: 120vh;
    background-color: #2754bd;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    font-size: 20px;
}

.cssbuttons-io-button {
  width: 35vw;
  height: 10vh;
  margin-left:auto;
  margin-right: auto;
  background: rgba(4,29,88,1);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-right: 3.3em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    font-size: 20px;
 }
 
 .cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em rgba(4,29,88,1);
  right: 0.3em;
  transition: all 0.3s;
 }
 
 .cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
 }
 
 .cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: rgba(4,29,88,1);
 }
 
 .cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
 }
 
 .cssbuttons-io-button:active .icon {
  transform: scale(0.95);
 }
 